.site_map {
    margin-top: 1em;
    
    .site_map_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        margin: 0 auto;

        & > div {
            margin-right: 10em;
            font-size: 1.2em;
            cursor: pointer;
            cursor: pointer;
            padding: 0.25em 1em;
            border-radius: 1em;
            transition: background-color 0.2s linear;

            &:hover {
                background-color: #eee;
            }

            &.selected {
                background-color: #e0efcc;

                &:hover {
                    background-color: #e0efcc;
                }
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}